{
	email {$ACME_EMAIL}
	admin off
}

{$DOMAIN} {
	encode zstd gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	reverse_proxy frontend:80

	log {
		output stdout
		format console
	}
}
